<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Login</title>
</head>
<body>

<div>

    <h2>Welcome to Social Login <span th:text="${name}"></span>!</h2>
    <div>
        <img th:src="${photo}" alt="${email}" />
    </div>

    <div>
        Email registrado: <span th:text="${email}"></span>
    </div>


</div>

</body>
</html>